
{% load static %}
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      {% comment %} <img src="{% static 'images/Logo-new-final.png' %}" alt="Sujata Associates" class="logo-img me-2"> {% endcomment %}
      Sujata Associates
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      {% comment %}
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#careers">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
      {% endcomment %}
      {% comment %}
      <a href="#contact" class="btn btn-contact ms-lg-3">Get a Quote</a>
      {% endcomment %}
    </div>
  </div>
</nav>
<!-- Navbar End -->
